.Btn {
  width: 100%;
  height: 2.75rem;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #f7f7f7;
  background: #101010;
  border: none;
  border-radius: 10px;
  width: 200px;
}

.Btn:hover {
  cursor: pointer;
  transition: all 0.5s;
  transform: scale(1.05, 1.15);
}
